# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Streamlit
.streamlit/

# Vector Store / Local DBs
chroma_db/

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/
